/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}



.bg-jsd-lightblue{
    background-color: #ECFCFF;
}

.bg-jsd-blue{
    background-color: #B8ECF7;
}

.bg-jsd-darkblue{
    background-color: #00B4D8;
}

.bg-jsd-yellow{
    background-color: #FFD05B;
}

.bg-jsd-red{
    background-color: #FF4545;
}

.bg-jsd-green{
    background-color: #0EB400;
}

.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}
.navbar,
.main {
  /* left: 260px; */
  /* width: calc(100% - 260px); */
  transition: all 0.5s ease;
  /* z-index: 1000; */
}

.navbar {
  padding: 15px 20px;
}

.main {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* z-index: 100; */
  background: #e7f2fd;
}

.logo img{
  width: 40px;
}

